<%= content_for(:transparent_navbar, "transparent-navbar") %>

<div class="backgound">

  <div class="strollbanner">
    <h1><br>Customize Stroll</h1>
  </div>

  <h2>Significance</h2>
  <div class="container">
    <label for="customRange3" class="form-label"></label>
      <input type="range" class="form-range" min="1" max="3" step="1" id="customRange3" oninput="this.nextElementSibling.value = this.value">
    <output>3</output>
  </div>

  <h2>Cost</h2>
  <div class="container">
    <div class="custom-control custom-switch custom-switch-xl">
      <input type="checkbox" class="custom-control-input" id="customSwitch8" checked>
      <label class="custom-control-label" for="customSwitch8"></label>
    </div>
  </div>


  <h2>Newness</h2>
  <div class="container">
    <div class="custom-control custom-switch custom-switch-xl">
      <input type="checkbox" class="custom-control-input" id="customSwitch8" checked>
      <label class="custom-control-label" for="customSwitch8"></label>
    </div>
  </div>
  <br>
  <h2>Choose your interests...</h2>
  <br>
  <ul class="settings">
    <li><input type="checkbox" id="Attractions" checked/>
      <label for="Attractions"><div class="category">Attractions</div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Brandenburger_Tor_abends.jpg/1200px-Brandenburger_Tor_abends.jpg" /></label>
    </li>
    <li><input type="checkbox" id="Architecture" checked/>
      <label for="Architecture"><img src="https://media2.heinze.de/m1/36/12802136/images/40/12802140px1920x1358.jpg" /></label>
    </li>
    <li><input type="checkbox" id="Bars" checked/>
      <label for="Bars"><img src="https://miro.medium.com/max/10020/0*pVTtTdJA65mVudPx" /></label>
    </li>
    <li><input type="checkbox" id="Cafes" checked/>
      <label for="Cafes"><img src="https://i.pinimg.com/originals/c7/9f/e4/c79fe4cf84e7546cb08e08e1d66f1ce9.jpg" /></label>
    </li>
     <li><input type="checkbox" id="Galleries" checked/>
      <label for="Galleries"><img src="https://www.artnews.com/wp-content/uploads/2018/11/11-18paaeforest-bess1.jpg" /></label>
    </li>
     <li><input type="checkbox" id="History" checked/>
      <label for="History"><img src="https://cdn.britannica.com/51/127851-050-D0670589/barrier-Brandenburg-Gate-Berlin-Wall-version-1961.jpg" /></label>
    </li>
    <li><input type="checkbox" id="Museums" checked/>
      <label for="Museums"><img src="https://www.visitberlin.de/system/files/styles/visitberlin_hero_visitberlin_desktop_2x/private/image/NaturkundeMuseum_Sauriersaal_04__Foto_%C2%A9_Carola-Radke-MfN_DL_PPT_0.jpg?h=10d202d3&itok=3r9Pr0Ht" /></label>
    </li>
    <!-- <li><input type="checkbox" id="Shops" checked/>
      <label for="Shops"><img src="https://www.stores-shops.de/wp-content/uploads/2019/Stores/Create-by-Obi_Koeln.jpg" /></label>
    </li> -->
    <li><input type="checkbox" id="Sculpture" checked/>
      <label for="Sculpture"><img src="https://media-cdn.tripadvisor.com/media/photo-s/11/bf/76/a7/wonderful-monument.jpg" /></label>
    </li>
    <li><input type="checkbox" id="Street Art" checked/>
      <label for="Street Art"><img src="https://cdn1.matadornetwork.com/blogs/1/2019/05/Graffiti-House-in-Easten-Berlin-1200x850.jpg" /></label>
    </li>
  </ul>

  <div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn-tilt center">Stroll</button>
    </div>
  </div>
  <br>
</div>
