<link rel="stylesheet" href="application.scss">
@import "../../app/assets/stylesheets/application.scss" 

Container

<br><br>
Avatar

<br><br>
<div>Circle Button - class="btn-round btn-white-text"
<div class="btn-round btn-white-text">Round</div></div>

<br><br>
<div>Square Button</div>

<br><br>
Banner

<br><br>
Card

<br><br>
Form

