

<div id="home-container">
  <div class="strollbanner">
    <%= image_tag "stroll_logo.png", class: "logobig" %>
  </div>
   <div class="h-100">
    <div class="d-flex justify-content-around">
      <div class="btn-tilt">thing</div>
      <div class="btn-tilt">other</div>
      <div class="btn-tilt">other</div>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-around mt-10">
      <div class="btn-tilt">thing</div>
      <div class="btn-tilt">other</div>
      <div class="btn-tilt">other</div>
    </div>
    <br>
  </div>
</div>


