.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  height: 40px;
  padding: 0px;
  z-index: 100;
}

.navbar-dark {
  color: $secondary;
}

.navbar-map {
  background-color: $primary;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.transparent-stroll {
  color: transparent !important;
}

.transparent-navbar {
  position: absolute;
  background-color: transparent !important;
}

.title {
  font-family: 'Noto Serif 700', serif;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 64px;
  line-height: 77px;
}

.subtitle {
  font-family: 'Noto Serif 400', serif;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 22px;
}
