.navbar {
  justify-content: space-between;
  background-color: transparent;;
  height: 40px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-home {
  position: absolute;
  width: 100%;
  box-shadow: none;
}


.title {
  font-family: 'Noto Serif 700', serif;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 64px;
  line-height: 77px;
}

.subtitle {
  font-family: 'Noto Serif 400', serif;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 22px;
}
