.pulse-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: rgba(251, 250, 241, 0.5);
}

.pulse {
  width: 70px;
  height: 70px;
  background-color: $primary;
  border-radius: 50%;
  position: relative;
  animation: pulsate 1.5s linear infinite
}

.pulse span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70%;
  font-style: italic;
  color: $warning;
  height: 100%;
}

@keyframes pulsate {
  0% {
      box-shadow: 0 0 0 0 rgba(160, 207, 203, 0.7), 0 0 0 0 rgbaa(160, 207, 203, 0.7)
  }

  40% {
      box-shadow: 0 0 0 50px rgba(160, 207, 203, 0), 0 0 0 0 rgba(160, 207, 203, 0.7)
  }

  80% {
      box-shadow: 0 0 0 50px rgba(160, 207, 203, 0), 0 0 0 30px rgba(160, 207, 203, 0)
  }

  100% {
      box-shadow: 0 0 0 0 rgba(160, 207, 203, 0), 0 0 0 30px rgba(160, 207, 203, 0)
  }
}