// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "components/banner";
@import "components/logo";



.strollfooter {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  // left: -84.37px;
  // top: -23.49px;

  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.04));
  // transform: rotate(-3.59deg);
  // background-image: linear-gradient(#CEF2F2, #A0CFCB);
  background-image: url('strollbottom_mobile.png');
  background-size: cover;
  margin: 0 auto;
  background-position: bottom center;
}
